body {
  font-family: "Playfair Display", serif;
}

/* Main-menu */
.nav-main-menu {
  color: #626262;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}
.main-menu {
  text-align: center;
  margin: 30px;
}
.nav-main-menu:hover {
  color: rgb(99, 230, 230);
}

.menu-list {
  display: inline-block;
  padding: 30px;
}

/* Content */
.list-content {
  list-style: none;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.name_content {
  color: #626262;
  font-size: 30px;
  line-height: 36px;
  padding: 15px;
}
figcaption {
  padding-left: 15px;
}
img {
  padding: 15px;
}
.content_section {
  color: #626262;
  font-size: 14px;
  line-height: 24px;
  padding: 15px;
  width: 435px;
}

.section-festival {
  width: 470px;
  margin: 30px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  justify-content: center;
}
.section-cofee {
  width: 470px;
  margin: 30px auto;
}

.section-dream {
  width: 470px;
  margin: 30px auto;
}
.section-travel {
  width: 470px;
  margin: 30px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.combination-section {
  width: 960px;
  margin: auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  display: inline-block;
  display: flex;
  flex-direction: row;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
